main.container {
    width: 100%;
}

h1, input {
    text-align: center;
}

article {
    width: 40%;
    margin: auto;
}
@media (max-width: 768px) {
    article {
        width: 100%;
    }
}

table {
    margin: auto;
    width: auto;
}

td {
    text-align: center;
    white-space: nowrap;
    padding: 0px 25px;
}
@media (max-width: 768px) {
    td {
        padding: 0px 10px;
    }
}

span.time {
    font-size: 5em;
}
@media (max-width: 768px) {
    span.time {
        font-size: 2.5em;
    }
}

span.text {
    font-size: 0.75em;
}

.alert {
    color: lightcoral !important;
    text-align: center;
    padding: 10px;
}
