h1 {
    text-align: center;
}

input[type="text"],
input[type="datetime-local"] {
    text-align: center;
}

input[type="submit"] {
    width: 100%;
}

main.container {
    width: 40%;
}
@media (max-width: 768px) {
    main.container {
        width: 100%;
    }
}

#timer {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
    #timer {
        width: 300px;
    }
}

td {
    text-align: center;
    padding: 0px;
}

span.time {
    font-size: 5em;
}
@media (max-width: 768px) {
    span.time {
        font-size: 3em;
    }
}

span.text {
    font-size: 0.75em;
}

.alert {
    color: lightcoral !important;
}

p.alert {
    text-align: center;
}
