<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Timer</title>
    <link rel="shortcut icon" href="{{ .BasePath }}static/icon.png">
    <link rel="stylesheet" href="{{ .BasePath }}static/pico.min.css">
    <link rel="stylesheet" href="{{ .BasePath }}static/style.css">
    <script>var basePath = "{{ .BasePath }}";</script>
    <script src="{{ .BasePath }}static/script.js"></script>
</head>

<body>

<nav class="container-fluid">
    <ul><li><a href="{{ .BasePath }}/"><strong>Home</strong></a></li></ul>
</nav>

<main class="container">
{{ template "main" . }}
</main>

</body>

</html>
