{{ define "main" }}
<h1>Create timer</h1>

<div class="tabs">
    <div class="tab">By Duration</div>
    <div class="tab">By Deadline</div>
</div>

<div class="tab-content">
    <article>
        <form id="form-duration" action="{{ .BasePath }}timers" method="post">
            <fieldset role="group">
                <input type="number" min="1" max="999999999" name="duration" placeholder="Minutes">
                <input type="hidden" name="deadline">
                <input type="submit" value="Start">
            </fieldset>
        </form>
    </article>
</div>

<div class="tab-content">
    <article>
        <form id="form-deadline" action="{{ .BasePath }}timers" method="post">
            <fieldset role="group">
                <input type="datetime-local" name="calendar">
                <input type="hidden" name="deadline">
                <input type="submit" value="Start">
            </fieldset>
        </form>
    </article>
</div>
{{ end }}
