{{ define "main" }}
<table id="timer">
    <tr>
        {{ if .WithDays }}<td><span class="time" id="days">00</span></td>{{ end }}
        {{ if .WithHours }}<td><span class="time" id="hours">00</span></td>{{ end }}
        {{ if .WithMinutes }}<td><span class="time" id="minutes">00</span></td>{{ end }}
        <td><span class="time" id="seconds">00</span></td>
    </tr>
    <tr>
        {{ if .WithDays }}<td><span class="text" id="label-days">days</span></td>{{ end }}
        {{ if .WithHours }}<td><span class="text" id="label-hours">hours</span></td>{{ end }}
        {{ if .WithMinutes }}<td><span class="text" id="label-minutes">minutes</span></td>{{ end }}
        <td><span class="text" id="label-seconds">seconds</span></td>
    </tr>
</table>
<p hidden id="timeout" class="alert">Time out</p>
<p hidden id="deadline">{{ .Deadline }}</p>
{{ end }}
